{% extends 'base.html' %}
{% load static %} #cargar archivos estaticos de la carpeta images
{% block title %} asistentes {% endblock %}

{% block top %}
<img src="{% static "images/newspaper.png" %}" class="img-thumbnail" alt="Cinque Terre" width="70px" height="45px" float:"right" >
{% endblock %}

{% block content %}

<div class="panel panel-info">
	<div class="panel-heading">Asistentes</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Ponencia</th>
				<th>Correo</th>
				<th>Telefono</th>
      </tr>
    </thead>
    <tbody>
			{% for element in asistente %}
      <tr>
        <td>{{ element.Nombre_Asistente }} {{ element.Apellido_Asistente }}</td>
        <td>{{ element.Asistir_Ponencia }}</td>
				<td>{{ element.Correo_Asistente }}</td>
				<td>{{ element.Telefono_Asistente }}</td>
      </tr>
			{% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
