{% extends 'base.html' %} # cargar el diseño de la plantilla base.
{% load static %} #cargar archivos estaticos de la carpeta images
{% block title %} Inicio {% endblock %}

{% block top %}
<div >

</div>
<img src="{% static "images/ponencia.jpg" %}" class="img-thumbnail" alt="Cinque Terre" width="500px" height="350px">
{% endblock %}


{% block content %}
		<h1>Pagina De Contenido</h1>
{% endblock %}

<div class="table-responsive">
  <table class="table">
    {% for item in modelo_Ponente %}
      <tr>
        <td> {{ item.asistente_name }} </td>
        <td> {{ item.asistente_apellido }} </td>
      </tr>
      {% endfor %}
    </table>
</div>
