{% extends 'base.html' %} # cargar el diseño de la plantilla base.
{% load static %} #cargar archivos estaticos de la carpeta images
{% block title %} Inicio {% endblock %}

{% block top %}
<img src="{% static "images/ponencia.jpg" %}" style="text-align:center;" class="img-thumbnail" alt="Cinque Terre" width="70%" height="200px">
{% endblock %}


{% block content %}
<h2>Foco del Congreso</h2>
<h3>Dia Del Evento: 5 De Octubre Del 2016.</h3>
		<p>
Este Congreso abordará una amplia gama de temas de interés en las diversas disciplinas que ocupan actualmente la Educación y el Aprendizaje.
Invitamos a todas aquellas personas que deseen participar a que nos envíen una propuesta para presentar su trabajo, ya sea una ponencia, taller / sesion interactiva, exposición, poster / o coloquio, abordando la educación y el aprendizaje a través de alguna de las siguientes temáticas:
		</p>

{% endblock %}
