{% extends 'base.html'%}
{% load static %} #cargar archivos estaticos de la carpeta images
{% load bootstrap %}

{% block title %} RegistroPonentes2 {% endblock %}

{% block top %}
<img src="{% static "images/journalist.png" %}" class="img-thumbnail" alt="Cinque Terre" width="70px" height="45px" float:"right" >
{% endblock %}

{% block content %}

<style type="text/css">
#id_Titulo_Ponencia {
	width: 25em;
}
</style>

<form method='POST'>
			{% csrf_token %}
			{{ form|bootstrap_horizontal:'col-lg-4'}}
			<input type='submit' class="btn btn-info" value='Registrar'>
			<input type='reset' class='btn btn-danger' value='Cancel'>
</form>

{% endblock %}
