{% extends 'base.html' %}
{% load static %} #cargar archivos estaticos de la carpeta images
{% block title %} Horario {% endblock %}

{% block top %}
<img src="{% static "images/calendar.png" %}" class="img-thumbnail" alt="Cinque Terre" width="70px" height="45px" float:"right" >
{% endblock %}

{% block content %}

<div class="panel panel-info">
	<div class="panel-heading">Horario</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Ponencia</th>
        <th>Dia</th>
        <th>Hora</th>
        <th>Ponente</th>
      </tr>
    </thead>
    <tbody>
      <tr>
				{% for element in ponente %}

        <td>{{ element.Titulo_Ponencia }}</td>
        <td>{{ element.Dia_Ponencia }}</td>
				<td>{{ element.Hora_Ponencia }}</td>
        <td>{{ element.Nombre_Ponente }} {{ element.Apellido_Ponente }}</td>

						{% endfor %}
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
